
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/checkout" method="post">
        <h1>What would you like to purchase?</h1>
        <h2>Enter item here:</h2>
        <input type="text" name="item">
        <input id="submit" type="submit">
    </form>
  </body>
</html>