
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>You want to purchase a <%= @params[:item] %>?</h1>
    <h2>You should really reconsider your life's choices.</h2>
  </body>
</html>